---
layout: framework
sidebar: category-list
---

<article>
<header>
    
<h1>合作伙伴</h1>
    
</header>

<p>

<img class="borderless lazyloaded" loading="lazy" src="assets/images/Tesla.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/AIRBUS.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/SINOPEC.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/BMW.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/PLANAVY.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/BAOSTEEL.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/COSCO.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/CRCC.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/SHENHUA.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/XIAONIAO.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/IQIYI.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/ALIYUN.jpg">

<img class="borderless lazyloaded" loading="lazy" src="assets/images/PINGMEI.jpg">

</p>

</article>